body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  /* text-align: center; */
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  /* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
  /* background-image: url(background.jpg); */
  background-color: #f2e8cf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.guide-modal {
  position: "absolute";
  left: "1em";
  bottom: "1em";
  /* border: solid red;  */
}

.home-button {
  border: solid green;
}

.background {
  background-color: black;
}

.navlogo {
  height: 20vh;
  width: 20vh;
  /* border: solid red; */
  /* aspect-ratio: 3/2; */
  /* object-fit: contain; */
  /* transform-box: fill-box; */
  margin: 0;
  padding-bottom: 0;
  /* position: fixed; */
}

.home-container {
  /* border: solid blue; */
  /* padding: 30px; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  background-color: #f2e8cf;

  /* justify-content: flex-; */
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  display: flex;
}

.logo {
  display: flex;
  justify-items: flex-end;
  height: 60vh;
  width: 60vh;
  position: relative;
  /* border: solid red;x */

  /* aspect-ratio: 3/2; */
  /* object-fit: contain; */
  /* transform-box: fill-box; */
  margin: 0;
  padding-bottom: 0;
  /* position: fixed; */
}

/* button styling */
.button {
  /* border: solid green; */
  bottom: 50px;
  --border-right: 6px;
  --text-stroke-color: #2d55a6;
  --animation-color: #f8b819;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Roboto";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.home-text {
  /* border: solid red; */
  color: black;
  position: relative;
  top: -75px;
  left: 0;
  bottom: 0;
  /* transform: translate(-50%, -50%) */
}

.card-container {
  /* border: solid red; */
  text-align: center;
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  /* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
  /* background-image: url(background.jpg); */
  background-color: #f2e8cf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 40px;
}

.card {
  /* border: solid blue; */
  display: flex;
  text-align: center;
  padding-bottom: 500px;
}

.signup-container {
  /* border: solid red; */
  text-align: center;
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  /* background-image: linear-gradient(to right, #8360c3, #2ebf91); */
  /* background-image: url(background.jpg); */
  background-color: #f2e8cf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 40px;
}

.signup-choice {
  font-size: large;
  font-weight: bold;
}

.program-container {
  background-color: #f2e8cf;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* border: solid red; */
}

.program-card {
  width: 55rem;
  /* border: solid blue; */
  background-image: url(background.jpg);
  background-position: bottom;
  /* box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(1, 1, 1, 0.3) -10px 10px, rgba(0, 0, 0, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -20px 20px, rgba(0, 0, 0, 0.05) -25px 25px; */
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button {
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  transform: translateY(-0.33em);
}

button:active .button_top {
  transform: translateY(0);
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  padding-bottom: 30px;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #eda86b;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #82a8a0;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

.rpe-text{
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.info-body {
  padding: 0 1rem 0 1rem;
}
